<div class="site-side f-d-c">
  <div class="site-side-item space-1">
    a
  </div>
  <div class="site-side-item space-2">
    a
  </div>
  <div class="site-side-item space-3">
    a
  </div>
  <div class="site-side-item space-4">
    a
  </div>
</div>
<div class="site-side-content">
  <div class="site-side-content-item">
    a
  </div>
  <div class="site-side-content-item">
    a
  </div>
  <div class="site-side-content-item">
    a
  </div>
  <div class="site-side-content-item">
    a
  </div>
</div>