<span class="site-side-content-close" onclick="onClickCloseSidebarContent()">&#10005;</span>
<div class="site-side f-d-c">
  <div class="site-side-item space-1" onclick="onClickSidebar(i = 1)">
    a
  </div>
  <div class="site-side-item space-2" onclick="onClickSidebar(i = 2)">
    a
  </div>
  <div class="site-side-item space-3" onclick="onClickSidebar(i = 3)">
    a
  </div>
  <div class="site-side-item space-4" onclick="onClickSidebar(i = 4)">
    a
  </div>
</div>
<div class="site-side-content" id="ssci-main">
  <div class="site-side-content-item ssci-1" id="ssci-1">
    a
  </div>
  <div class="site-side-content-item ssci-2" id="ssci-2">
    b
  </div>
  <div class="site-side-content-item ssci-3" id="ssci-3">
    c
  </div>
  <div class="site-side-content-item ssci-4" id="ssci-4">
    d
  </div>
</div>