<span class="site-side-content-close" onclick="onClickCloseSidebarContent()">&#10005;</span>
<div class="site-side f-d-c">
  <div class="site-side-item space-1" onclick="onClickSidebar(1)">
    a
  </div>
  <div class="site-side-item space-2" onclick="onClickSidebar(2)">
    a
  </div>
  <div class="site-side-item space-3" onclick="onClickSidebar(3)">
    a
  </div>
  <div class="site-side-item space-4" onclick="onClickSidebar(4)">
    a
  </div>
</div>
<div class="site-side-content" id="ssci-main">
  <div class="f site-side-content-item ssci-1" id="ssci-1">
    <div class="f home-left-content">
      <h3 class="app-content-item">Thoughnut</h3>
      <p class="app-content-item">React</p>
      <p class="app-content-item">
        <a href="/prototype">link to prototype</a>
      </p>
      <p class="app-content-item">
        <a href="/prototype">link to code</a>
      </p>
    </div>
    <div class="home-right-content">
      hello
    </div>
  </div>
  <div class="site-side-content-item ssci-2" id="ssci-2">
    b
  </div>
  <div class="site-side-content-item ssci-3" id="ssci-3">
    c
  </div>
  <div class="site-side-content-item ssci-4" id="ssci-4">
    d
  </div>
</div>