/* For Mini Tablets */

@media (min-width: 600px) {
  p {
    font-size: 17px !important;
  }
  .talk-event-name {
    @extend p;
  }
  .summary-content {
    @extend p;
  }
  .scotch-io,
  .medium {
    width: -webkit-fill-available
  }
  .mobile-nav-menu {
    height: calc(100vh - 50%);
    top: 50%;
    ul {
      margin: 5vh 0;
    }
  }
  .code-item,
  .design-item {
    img {
      border: 0;
      border-right: 1px solid #f5f0f0;
    }
  }
  .design-item {
    img {
      border: 0;
    }
  }
}
