// Mobile Navigation

.mobile-nav {
  display: none;
  height: 50px;
  width: 70px;
  background-color: $yellow;
  position: fixed;
  top: 30px;
  right: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.mobile-nav-menu {
  position: fixed;
  height: 100vh;
  top: 0px;
  left: 0;
  right: 0;
  width: 0;
  overflow-x: hidden;
  background-color: $yellow;
  transition: 0.3s;
  ul {
    display: flex;
    flex-direction: column;
    margin: 5vh 0;
    justify-content: space-between;
    flex: auto;
  }
  li {
    text-align: center;
    margin: auto;
  }
  a {
    font-weight: 400;
    text-transform: capitalize;
  }
}

.mobile-nav-open {
  background: transparent;
  border: none;
  margin: auto;
}

.mobile-nav-close {
  background: transparent;
  border: none;
  margin: 20px;
  margin-top: 0;
  img {
    padding: 5px;
  }
}

.menu-button {
  justify-content: center;
  align-content: center;
}
