// Mobile Navigation

.mobile-nav {
  display: none;
  height: 50px;
  width: 70px;
  background-color: $yellow;
  position: fixed;
  top: 30px;
  right: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.mobile-nav-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  height: calc(100vh - 110px);
  width: 70px;
  top: 110px;
  left: 0;
  right: 0;
  width: 100vw;
  background-color: $yellow;
  ul {
    display: flex;
    flex-direction: column;
    margin: 10vh 0;
    justify-content: space-between;
    flex: auto;
  }
  li {
    text-align: center;
  }
  a {
    font-weight: 900;
    text-transform: uppercase;
    border: none;
  }
}

.mobile-nav-open {
  background: transparent;
  border: none;
  margin: auto;
}

.mobile-nav-close {
  background: transparent;
  border: none;
  margin: 20px;
  margin-top: 0;
  img {
    padding: 5px;
  }
}

.menu-button {
  justify-content: center;
  align-content: center;
}