<!-- <div class="design-item">
    <img src="{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}} {{ . }} {{ else }}{{ .Get "caption" }}{{ end }}"{{ end }} />
    <div class="code-item-details">
      <div class="details-item">
        {{ if (.Get "description") }}
        <span class="design-item-value"> {{ .Get "description"}} </span>
        {{ end }}
      </div> 
      <div class="details-item">
          {{ if (.Get "url") }}
          <span class="view-link"> <a href="{{ .Get "url" }}" target="_blank">View Design</a> </span>
          {{ end }}
        </div>
    </div>
  </div> -->

<div class="f f-d-c talk">
  <h3>{{ .Get "name"}} </h3>
  <span class="talk-event-name">{{ .Get "event-name"}} </span>
  <div class="talk-meta">
    <span class="talk-date">
        {{ .Get "date"}}
    </span>
    <span class="talk-location">
        {{ .Get "location"}}
    </span>
  </div>
</div>